In [240]:
import pandas as pd, numpy as np

In [241]:
d = pd.read_csv(r"C:\Users\master\Downloads\Iris.csv")
d

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [242]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

### Write a class which takes the data set as argument and write methods for the following statistical measures without using built-in functions:

In [243]:
class Statistics:
    def __init__(self, path):
        self.df = pd.read_csv(path)

        
    def arithmetic_mean(self, column_name):
        
        if column_name not in self.df.columns:
            return None 
        else: 
            mean = sum(self.df['SepalLengthCm']) / len(self.df['SepalLengthCm'])
            return mean
        
    def geometric_mean(self, column_name):
        product = 1
        for num in self.df[column_name]:
            product *= num
        return product ** (1.0 / len(self.df[column_name]))
    
    def harmonic_mean(self, column_name):
        return len(self.df[column_name]) / sum(1.0 / num for num in self.df[column_name])
    
    def mode(self, column_name):
        freq = {}
        for num in self.df[column_name]:
            if num not in freq:
                freq[num] = 1
            else:
                freq[num] += 1
        mode_value = max(freq, key=freq.get)
        return mode_value
    
    def median(self, column_name):
        mid = len(self.df[column_name]) // 2
        return (self.df[column_name].iloc[mid] + self.df[column_name].iloc[~mid]) / 2

    def variance(self, column_name):
        mean = self.arithmetic_mean(column_name)
        variance = sum((num - mean) ** 2 for num in self.df[column_name]) / len(self.df[column_name])
        return variance
    
    def standard_deviation(self, column_name):
        return self.variance(column_name) ** 0.5
    
    def max(self, column_name):
        return max(self.df[column_name])

    def min(self, column_name):
        return min(self.df[column_name])
    
    def range(self, column_name):
        max_value = max(self.df[column_name])
        min_value = min(self.df[column_name])

        range_value = max_value - min_value
        return range_value
    
    def iqr(self, column_name):
        values = list(self.df[column_name])
        n = len(values)
        for i in range(n):
            for j in range(0, n - i - 1):
                if values[j] > values[j + 1]:
                    values[j], values[j + 1] = values[j + 1], values[j]

        q1_index = n // 4
        q3_index = n * 3 // 4

        q1 = values[q1_index]
        q3 = values[q3_index]

        return q3 - q1
    
    def quartiles(self, column_name):
        column = self.df[column_name]
        q1_index = len(column) // 4
        q2_index = len(column) // 2
        q3_index = len(column) * 3 // 4
        
        q1 = column[q1_index]
        q2 = column[q2_index]
        q3 = column[q3_index]

        return q1, q2, q3
    
    def coefficient_of_range(self, column_name):
        max_value = max(self.df[column_name])
        min_value = min(self.df[column_name])
        range_value = max_value - min_value
        coefficient_of_range_value = range_value / (max_value + min_value)
        return coefficient_of_range_value
    
    def coefficient_of_variation(self, column_name):
        return self.standard_deviation(column_name) / self.arithmetic_mean(column_name)
    
    def coefficient_of_standard_deviation(self, column_name):
        mean = sum(self.df[column_name]) / len(self.df[column_name])
        std_dev = (sum((x - mean) ** 2 for x in self.df[column_name]) / len(self.df[column_name])) ** 0.5
        max_value = max(self.df[column_name])
        min_value = min(self.df[column_name])
        range_value = max_value - min_value
        coefficient_of_std_dev_value = std_dev / range_value
        return coefficient_of_std_dev_value

In [244]:
path = r"C:\Users\master\Downloads\Iris.csv"
iris = Statistics(path)

In [245]:
a_mean = iris.arithmetic_mean('SepalLengthCm')
a_mean

5.843333333333335

In [246]:
iris.geometric_mean('SepalLengthCm')

5.785720390427729

In [247]:
iris.harmonic_mean('SepalLengthCm')

5.728905057850834

In [248]:
iris.mode('SepalLengthCm')

5.0

In [249]:
iris.median('SepalLengthCm')

6.5

In [250]:
iris.variance('SepalLengthCm')

0.6811222222222222

In [251]:
iris.standard_deviation('SepalLengthCm')

0.8253012917851409

In [252]:
iris.max('SepalLengthCm')

7.9

In [253]:
iris.min('SepalLengthCm')

4.3

In [254]:
iris.range('SepalLengthCm')

3.6000000000000005

In [255]:
iris.iqr('SepalLengthCm')

1.3000000000000007

In [256]:
iris.quartiles('SepalLengthCm')

(4.9, 6.6, 6.8)

In [257]:
iris.coefficient_of_range('SepalLengthCm')

0.2950819672131148

In [258]:
iris.coefficient_of_variation('SepalLengthCm')

0.1412380989934639

In [259]:
iris.coefficient_of_standard_deviation('SepalLengthCm')

0.22925035882920577